

.listing-show-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.listing-show-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.listing-image-display {
  display: flex;
  margin-bottom: 20px;
  height: 100%;
}

.big-image-div {
  flex: 1;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-image {
  width: 100%;
  height: auto;
}

.little-image-div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.little-image {
  // width: calc(25% - 5px);
  // height: auto;
    // width: 25%;
    // height: 100%;
    // object-fit: cover;
    width: calc(50% - 10px);
      height: calc(50% - 10px);
      margin-bottom: 10px;
}

.listing-show-information {
  margin-bottom: 20px;
}

.listing-show-owner {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.listing-show-description {
  font-size: 14px;
  margin-top: 10px;
}

.listing-show-reservation-form-container {
  margin-bottom: 20px;
}

.listing-show-review-form-container {
  margin-bottom: 20px;
}

.listing-show-review-index-container {
  margin-bottom: 20px;
}

.listings-show-div {
  
  display: flex;
  flex-direction: column;
  padding: 15px;
}
