.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  // border-radius: 25px;
  z-index: 5;
  
}


.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 30%;
  transform: translate(-50%, -50%);
}

.login-form-container{
  background: none;

}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.login-input {
  margin-left: 14px;
  border: .5px grey solid;
}

.login-form-box {
  // outline: 1px solid black;
  // box-shadow:inset 2px seagreen;
  padding: 20px;
  background: white;
  position: relative;
  border: .7px lightgray solid;
  border-radius: 25px;

}

.signup-form {
  // outline: 1px solid black;
  // box-shadow: inset 2px seagreen;
  padding: 20px;
  background: white;
  position: relative;
}

.demo-login-button{
  width: 100%;
  background-color: rgb(235, 181, 3);
  font-size: medium ;
  color: white;  
}
.session-submit{
  background-color: rgb(235, 181, 3);
  font-size: medium;
  color: white;
  align-items: center;
  justify-content: center;
}

.authform-errors{
  color: red;
}

.other-form-option{
  color: grey;
}

.other-form-option-button{
  color: purple;
}
