.filter-bar-div{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}
.filter-bar-icon{
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-modal-button{
  font-size: large;
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  border-radius: 25px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}